/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* UNIVERSALS */

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.625;
  background: radial-gradient(ellipse at top,#524389,#403179 80%,#403179);
  font-weight: 700;
}

/* TYPOGRAPHY */
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;

}
h3{
  font-size: 1.5rem;
  color: white;
  letter-spacing: -1px;
}
p {
  font-size: 1.0rem;
}
small {
  font-size: 0.75rem;
}
ul {
  list-style-type: square;
  padding-left: 18px;
}
ul ul {
  list-style-type: circle;
  padding-left: 18px;
}
a {
  text-decoration: none;
  color: white;
}
/* GRID SYSTEM */

.row:after {
  content: '';
  clear: both;
  display: block;
}
.container {
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}
.col {
  float: left;
  position: relative;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666666666666%;
  width: calc(100% * 11/12);
}
.col-10 {
  width: 83.33333333333334%;
  width: calc(100% * 10/12);
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666666666666%;
  width: calc(100% * 8/12);
}
.col-7 {
  width: 58.333333333333336%;
  width: calc(100% * 7/12);
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666666666667%;
  width: calc(100% * 5/12);
}
.col-4 {
  width: 33.33333333333333%;
  width: calc(100% * 4/12);
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666666666666664%;
  width: calc(100%*2/12);
}
.col-1 {
  width: 8.333333333333332%;
  width: calc(100%*1/12);
}

/* OFFSETS */
.offset-11 {
  margin-left: 91.66666666666666%;
  margin-left: calc(100% * 11/12);
}
.offset-10 {
  margin-left: 83.33333333333334%;
  margin-left: calc(100% * 10/12);
}
.offset-9 {
  margin-left: 75%;
}
.offset-8 {
  margin-left: 66.66666666666666%;
  margin-left: calc(100% * 8/12);
}
.offset-7 {
  margin-left: 58.333333333333336%;
  margin-left: calc(100% * 7/12);
}
.offset-6 {
  margin-left: 50%;
}
.offset-5 {
  margin-left: 41.66666666666667%;
  margin-left: calc(100% * 5/12);
}
.offset-4 {
  margin-left: 33.33333333333333%;
  margin-left: calc(100% * 4/12);
}
.offset-3 {
  margin-left: 25%;
}
.offset-2 {
  margin-left: 16.666666666666664%;
  margin-left: calc(100%*2/12);
}
.offset-1 {
  margin-left: 8.333333333333332%;
  margin-left: calc(100%*1/12);
}



/* TEXT POSITIONING*/

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.flex-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CUSOM STYLING */
.logo {
  line-height: 60px;
  font-family: 'Bungee Inline', cursive;
  color: white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
}
nav {
  height: 60px;
  background: radial-gradient(ellipse at bottom,#4f3e8e,#3e2d7d 80%,#3e2d7d);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
  -box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
  display: block;
  position: fixed;
  padding: 0 8px;
  width: 100%;
  z-index: 1;
}
nav a {
  color: white;
  line-height: 60px;
}
#app {
  margin: 60px auto;
  width: 100%;
}
.home {
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
  height: calc(100vh - 30px);
  height: -o-calc(100vh - 30px); /* opera */
  height: -webkit-calc(100vh - 30px); /* google, safari */
  height: -moz-calc(100vh - 30px); /* firefox */
}
.new-bill {
  background: radial-gradient(ellipse at bottom,#4f3e8e,#3e2d7d 80%,#3e2d7d);
  color: tomato;
}

.pay-bill {
  background: radial-gradient(ellipse at center, tomato, #C9290C);
  color: #0e072a;
}

.card {
  background-color: rgba(0,0,0,0.3);
  padding: 5px 15px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:nth-child(odd) {
  background-color: rgba(0,0,0,0.2);
}

table {
  width: 100%;
  background-color: #f9f9fc;
  border-collapse: collapse;
  border-radius: 2px;
}
tr {
  height: 40px;
  color: #8e91a0;
  font-weight: normal;
}
tr:nth-child(even) {
  background-color: gainsboro;
}
tr.current-user {
  background-color: #da4c31;
  color: #f5cfc8;
}
tr.user {
  background-color: rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.5);
}
tr.bill-items {
  background-color: #0e072a;
  color: #da4c31;
}
th, .table-total{
  font-weight: 700;
  color: #2c3144;
  border-bottom: 1px solid #a4a7b3;
  border-top: 1px solid #a4a7b3;
}
tr.table-total {
  background-color: #f9f9fc;
}


input {
  -webkit-appearance: none;
  height: 30px;
  padding: 6px 10px;
  font-size: 14px;
  text-align: left;
  margin: 5px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #ccc;
  color: #555;
  width: 95%;
}
::-webkit-input-placeholder {
  color: #555;
}
input:focus {
  outline: 0;
}
.submit-button {
  visibility: hidden;
  height: 1px;
  font-size: 1px;
  padding: 0;
  margin: 0;
  border: 0;
}
.btn {
  -webkit-appearance: none;
  background-color: #da4c31;
  color: #f5cfc8;
  padding: 10px 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  line-height: 10px;
  outline: 0 none;
  width: auto;
}
.currency {
  color: white;
  font-family: 'Bungee Inline';
  font-size: 23px;
}
.radio_button{
  -webkit-appearance: radio;
  -moz-appearance: radio;
  width: auto;
  width: 40px;
  height: 16px;
}
/* Phone size */
@media (max-width: 760px) {
  .container {
    width: 100%;
  }
  .sm-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .sm-col-6 {
    width: 50%;
    margin-left: 0%;
  }
  .home {
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    height: calc(50vh - 30px);
    height: -o-calc(50vh - 30px); /* opera */
    height: -webkit-calc(50vh - 30px); /* google, safari */
    height: -moz-calc(50vh - 30px); /* firefox */
  }
}

/* iPad size */
@media (max-width: 1200px) and (min-width: 761px) {
  .md-col-12 {
    width: 100%;
    margin-left: 0%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33333333333333%;
    width: calc(100% * 4/12);
  }
  .md-col-3 {
    width: 25%;
  }
}
