/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}
 #app {
   width: 320px;
   margin: 0 auto;
   text-align: center;
   width: 95%;
 }

 ul li {
   text-align: left;
 }

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  height: 40px;
}
tr:nth-child(even) {
  background-color: gainsboro;
}

tr.username.owed {
  background-color: chartreuse;
}

tr.username.owing {
  background-color: hotpink;
}

.btn {
  background-color: chartreuse;
  padding: 5px;
  margin-top: 30px;
  width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

nav {
  text-align: center;
}

input {
  height: 30px;
  padding: 5px;
  text-align: center;
  margin: 5px;
}
